.DS_Store
.idea
/.ddev/docker-compose.packages.yaml
/composer.lock
/packages/*
!/packages/.gitkeep
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/LocalConfiguration.php
/var/*
!/var/labels
/vendor
nbproject
