.DS_Store
.idea
/.ddev/docker-compose.extensions.yaml
/composer.lock
/public/*
!/public/.htaccess
!/public/favicon.ico
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/LocalConfiguration.php
/src/extensions/*
!/src/extensions/typo3-devsite
/var/*
!/var/labels
/vendor
nbproject
