.DS_Store
.idea
/.ddev/docker-compose.extensions.yaml
/.php-cs-fixer.cache
/composer.lock
/public/*
!/public/.htaccess
!/public/favicon.ico
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/LocalConfiguration.php
/src/extensions/*
!/src/extensions/site-dev
/var/*
!/var/labels
/vendor
nbproject
