[mysqld]
# This is required for the seminars FE editor to graciously convert "" to 0 for integer columns
# (which is a shortcoming of the "mkforms" extension).
sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
