# This is a template file for mounting your local extensions into this distribution.
# Copy this file to docker-compose.packages.yaml and modify it to your needs. (More details in the README.)
version: "3.6"

services:
  web:
    volumes:
      - "$HOME/src/typo3/ext/oelib:/var/www/html/packages/oelib:ro"
      - "$HOME/src/typo3/ext/onetimeaccount:/var/www/html/packages/onetimeaccount:ro"
      - "$HOME/src/typo3/ext/seminars:/var/www/html/packages/seminars:ro"
