<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default"/>

    <f:section name="main">
        <h2>
            <f:translate key="plugin.room.heading"/>
        </h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <f:translate key="plugin.room.property.uid"/>
                    </th>
                    <th>
                        <f:translate key="plugin.room.property.title"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{rooms}" as="room">
                    <tr>
                        <td>
                            {room.uid}
                        </td>
                        <td>
                            <f:link.action action="show" arguments="{room: room}" pageUid="{settings.singleViewPageUid}">
                                {room.title}
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </f:section>
</html>
